/* 
 Theme Name:   Alchem Child
 Theme URI:    
 Description:  
 Author:       jalesco
 Author URI:   
 Template:     alchem
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

 /* == Add your own styles below this line ==
--------------------------------------------*/

.schedule ul{list-style-type: none}

.trail-end{display:none;}

.text-light h1 {display:none;}

.page-title-bar-retina{}

.main-header{background-color:black;}

.site-search-toggle{display: none;}



